<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook" style="color: #74C0FC;"></i>
            <i class="fa-brands fa-instagram" style="color: #d41662;"></i>
            <i class="fa-brands fa-linkedin" style="color: #0887e7;"></i>
            <i class="fa-brands fa-youtube" style="color: #ea2806;"></i>
        </div>
        <div class="f-info-brands">&copy; TravellersHub PVT LMT </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>  
            <a href="/terms">Terms</a>  
        </div>
    </div>
</footer>